In [12]:
import pandas as pd
import numpy as np
#importing the csv file 
#need to install openpyxl package to read .xlsx file
df = pd.read_excel('data test mod.xlsx')
df.tail()

           Date     Close      Open      High      Low
511  11-07-2019  30664.35  30801.00  30848.95  30463.0
512  11-06-2019  30682.60  30260.30  30780.00  30052.0
513  11-05-2019  30294.15  30420.05  30519.90  30155.1
514  11-04-2019  30396.05  30457.95  30658.00  30267.0
515  11-01-2019  30374.10  30200.05  30449.45  30063.1

In [5]:
#Data converting int the time series to get a proper formste of date and time on the data
df['Date'] = pd.to_datetime(df['Date'], format='%m-%d-%Y')

dfn = df.set_index('Date').resample('D').asfreq()

# covert Date to Monday .. Sunday
dfn['Day'] = dfn.index.strftime('%A')

# drop Day in ['Saturday', 'Sunday']
cond = dfn['Day'].isin(['Saturday', 'Sunday'])
dfn = dfn[~cond].fillna(method='ffill').reset_index()

In [16]:
dfn.tail(12),dfn.head()
dfn = dfn.set_index("Day")
dfn.to_csv("new data.csv")

KeyError: "None of ['Day'] are in the columns"

In [54]:
data = pd.read_csv("new data.csv")


netchange = []


for i in range(0,len(data)-1,5):
    netchange.append(data.at[i+1,"Open"]-data.at[i,"Close"])



percentnetchange=[]


for i in range(0,len(data)-1,5):
    percentnetchange.append(((data.at[i+1,"Open"]-data.at[i,"Close"])/data.at[i,"Close"])*100)


net_change = pd.Series(netchange)
net_change.rename('netchange')
percentage_change = pd.Series(percentnetchange)

net_change.to_excel("netchange.xlsx")
percentage_change.to_excel("percentage_change.xlsx")
net_change,percentage_change.head(40)

(0       83.85
 1      -59.00
 2       99.80
 3      -34.60
 4       76.10
         ...
 103    409.60
 104    240.55
 105    -17.60
 106     78.65
 107     94.20
 Length: 108, dtype: float64,
 0     0.276058
 1    -0.191814
 2     0.321394
 3    -0.111201
 4     0.237784
 5    -0.138136
 6     0.295770
 7    -0.087867
 8     0.085110
 9    -0.501225
 10    0.114872
 11    0.863391
 12   -0.894500
 13   -3.902732
 14   -0.080665
 15   -0.025403
 16   -1.046262
 17    1.038243
 18   -2.418210
 19   -2.867086
 20   -9.999828
 21   -3.502008
 22    6.114999
 23   -0.446675
 24    1.629251
 25    0.885890
 26   -4.339548
 27    1.064059
 28   -0.545521
 29    1.646134
 30    2.047992
 31    3.182990
 32   -1.060874
 33    0.662401
 34   -0.983825
 35    1.634781
 36    0.843070
 37    1.182690
 38    0.039361
 39   -0.975036
 dtype: float64)